<% content_for :jumbotron do %>
  <div class="see-through-container col-md-8 col-md-offset-2">
    <div class="see-through-bg"></div>
    <div class="see-through-content">
      <h1>Advance your code to the next level</h1>
      <h2>Try out Advance My Code now!</h2>
    </div>
  </div>
<% end %>

<section class="row action-section">
  <div class="col-md-4">
		<%= link_to '#' do %>
			<div class="panel panel-info text-center">
				<div class="panel-heading">
					<h1>Blog</h1>
				</div>
				<div class="panel-content">
					<p>Learn from the experience of others on topics like programming, career, and software.</p>
				</div>
			</div>
		<% end %>
  </div>
  <div class="col-md-4">
		<%= link_to '#' do %>
			<div class="panel panel-info text-center">
				<div class="panel-heading">
					<h1>Resources</h1>
				</div>
				<div class="panel-content">
					<p>Find resources for the technologies you want to learn to move to the next level of your coding.</p>
				</div>
			</div>
		<% end %>
  </div>
  <div class="col-md-4">
		<%= link_to '#' do %>
			<div class="panel panel-info text-center">
				<div class="panel-heading">
					<h1>Mentors</h1>
				</div>
				<div class="panel-content">
					<p>The most important move you can make in your pursuit of coding wizardry.</p>
				</div>
			</div>
		<% end %>
  </div>
</section>
