<% content_for :jumbotron do %>
  <div class="see-through-container col-md-8 col-md-offset-2">
    <div class="see-through-bg"></div>
    <div class="see-through-content">
      <h1>Advance your code to the next level</h1>
      <h2>Try out Advance My Code now!</h2>
    </div>
  </div>
<% end %>

<section class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
  </div>
</section>
