$grid-float-breakpoint: 480px;
$brand-primary: #2DAEFF;
$brand-success: #0E73B2;
$brand-info: #B2B017;
$brand-warning: #CCC910;
$brand-danger: #FF4647;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "front_page.scss";

.container {
  padding-top: 55px;
}


footer {
  bottom: 0;
  width: 100%;
  height: 4em;
  background-color: $gray-lighter;
  text-align: center;

  small {
    display: block;
    padding: 2rem;
  }
}
