<header>
  <nav class="navbar navbar-fixed-top">
    <%= link_to 'Advane My Code', root_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav pull-right">
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
